<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>NBA Success</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header"><!--
        <a class="navbar-brand" href="index.html">
          <img class = "logo" src = "logo.png">
        </a> -->
        <a class = "navbar-brand" href="index.html"><h1>Success in the NBA</h1></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Machine Learning<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="vorp.html">VORP</a></li>
              <li><a href="play.html">Play</a></li>
            </ul>
          </li>
          <li><a href="viz.html" class = "nav-link">Viz</a></li>
          <li><a href="data.html" class = "nav-link">Data</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Intro text -->
  <div class = "container">
      <div class = "row">
        <div class = "col-md-6 col-lg-12">
            <h3><b>Not all drafted players get to play.</b></h3>
            <p>This model used players' draft data to predict whether or not they actually ended up playing in their first NBA season, or whether they had to sit sadly on the sidelines.</p>
            <p><b>Steps:</b></p>
            <ol>
                <li><a href = "#feat-sel">Feature Selection</a></li>
                <li><a href = "#fit">Fitting</a></li>
                <li><a href = "#test-new">Testing on New Data</a></li>
            </ol>
            <p>Abbreviated code is included but the full code can be found <a href = "https://github.com/aeisenba61/Basketball-Analysis-Repo/blob/master/ml_logistic/pred_roster.md" target = "_blank">here</a>.</p>
        </div>
      </div>


<!-- Feature selection -->


      <div class = "row">
        <div class = "col-md-6 col-lg-12">
            <a id = "feat-sel"><h3><b>1. Feature Selection</b></h3></a>
            <p>We used <b>stratified k-fold cross-validation</b> to pick features by getting correlations between <code>Roster</code>, which represents whether a drafted player actually played in their first NBA season, and each draft variable:</p>
            <ul>
                <li><code>draft_All_NBA</code>: Number of All-NBA games</li>
                <li><code>draft_All.Star</code>: Number of All-Star games</li>
                <li><code>draft_Pk</code>: Draft pick order</li>
                <li><code>draft_Games</code>: Number of games</li>
                <li><code>draft_Minutes.Played</code>: Total minutes played</li>
                <li><code>draft_PTS</code>: Total points</li>
                <li><code>draft_Win.Share</code>: Win-share</li>
                <li><code>draft_VORP</code>: Value over replacement</li>
                <li><code>draft_WS_per_game</code>: Win-share per game</li>
                <li><code>draft_attend_college</code>: Drafted from college</li>
            </ul>
        </div>
      </div>

<!-- Code button -->
      <button data-toggle = "collapse" data-target = "#k-fold-corr">Code</button>
          <div id = "k-fold-corr" class = "collapse"><br>

          </div>

<!-- Correlations button -->

      <button data-toggle = "collapse" data-target = "#all-corr">K-fold correlations</button>
        <div class = "collapse" id = "all-corr">
        </div>

<!-- Correlation explanation -->
    <div class = "container">
        <br>
        <p>We averaged the correlations produced from each of the k = 10 folds and selected only <b>correlations above .3</b>.<br>The <b>final features</b> were:</p>
        <ul>
            <li><code>draft_Pk</code>: Draft pick order</li>
            <li><code>draft_Games</code>: Number of games</li>
            <li><code>draft_attend_college</code>: Drafted from college</li>
            <li><code>draft_Minutes.Played</code>: Total minutes played</li>
            <li><code>draft_PTS</code>: Total points</li>
        </ul>

<!-- Code button -->

      <button data-toggle = "collapse" data-target = "#avg-corr-code">Code</button>
        <div class = "collapse" id = "avg-corr-code"><br>

        </div>

<!-- Avg corrs button -->

      <button data-toggle = "collapse" data-target = "#avg-corr">Avg. correlations</button><br>
        <div class = "collapse col-lg-6" id = "avg-corr">

        </div><br>

    </div>
  </div>

<!-- Cross-validation -->

  <div class = "container">
      <div class = "row">
        <div class = "col-md-6 col-lg-12">
            <a id = "fit"><h3><b>2. Fitting</b></h3></a>
            <p>We fit the classifier by getting predictions on the entire 2000-2015 draft dataset with k = 10-fold cross-validation. The classifier performed well but was <b>more effective in classifying players who played</b>, possibly because of the larger sample size.</p>

            <p><a href = "https://github.com/aeisenba61/Basketball-Analysis-Repo/blob/master/ml_logistic/predictions/draft00_15_preds.csv" target = "_blank">Predicted probabilities for each player: 2000-2015 draft classes</a></p>
        </div>
      </div>

<!-- Code button -->
      <button data-toggle = "collapse" data-target = "#cv-code">Code</button>
          <div class = "collapse" id = "cv-code"><br>

          </div>
  </div>
<!-- Testing on new data -->
  <div class = "container">
      <div class = "row">
        <div class = "col-md-6 col-lg-12">
            <a id = "test-new"><h3><b>3. Testing on New Data</b></h3></a>
            <p>We pickled the classifier then tested it on a new dataset, with data from the 2016 draft class. The classifier performed considerably worse, presumably because of the small and skewed sample sizes. It was <b> much more effective in classifying players who played.</b></p>

            <p><a href = "https://github.com/aeisenba61/Basketball-Analysis-Repo/blob/master/ml_logistic/predictions/draft16_preds.csv" target = "_blank">Predicted probabilities for each player: 2016 draft class</a></p>
        </div>
      </div>

<!-- Pickling code button -->

      <button data-toggle = "collapse" data-target = "#pickle">Code</button><br>
        <div id = "pickle" class = "collapse"><br>

        </div>

    </div>

  </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
