body {
    padding-top: 90px;}

.navbar {
    height: 75px;
    background-color: #006AB8;
}

.navbar-nav > li > a {
    padding-top:25px;
    padding-bottom:25px;
    text-shadow: .75px .75px gray;
}

nav .navbar-nav li .nav-link{
  color: white !important;
  }

.logo {
    height: 70px;
}

.navbar-brand {
    padding-top: 0px;
}

nav .navbar-header .navbar-brand {
    font-weight: bold;
    color: #CA102E;
    text-shadow: 1.5px 2px gray;
}

h1 {
    font-weight: bold;
}

.nav-link {
    font-weight: bold;
    font-size: 18px;
}

code {
    color: #CA102E;
}

.ns {
    color: silver;
}